.slick-prev {
  left: -45px;
}

.slick-next {
  right: -45px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-list {
  height: 100%;
}

.slick-track {
  width: "auto";
  height: 100%;
}
